/* colors EFC69B CCB69B DF9B6D 27476E 56351E */

body{
  background-color: #27476E;
  font-family: 'MuseoModerno', cursive;
}
ul{
  display: block;
}
.bright{
  background-color: #27476E;
  filter: brightness(1.25);
}
.title{
  font-weight: bolder;
  color: #DF9B6D;
  font-size: 4em;
}
.texte{
  font-weight: bolder;
  color: #CCB69B;
  font-size: 2em;
}
.brownBorder{
  border-color: #56351E !important;
}
.lien{
  font-weight: bolder;
  color: #DF9B6D;
    font-size: 1.5em;
}
.vrHeight{
height: 4em;
width: 3px;
opacity: 100;
}
